@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


@media only screen and (max-width:375px){
    .wrapper{
        width: 100%;
        overflow: none;
        margin:auto;
        background-size:cover;
        background-position: 100%;
    }

    
    .welcome-text h1{
        text-align:center;
        font-size:35px;
    }
    .welcome-text p{
        text-align:center;
        font-size:10px;
    }
}


body{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Praise Project Pictures/campus.jpg");
    height: 100vh;
    background-size:cover;
    background-position: center center;
    position: relative;
}

.wrapper {
    background-color:#fff;
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.nav-area1{
    float: left;
    list-style: none;
    margin-top: 20px;
    padding-left: 15px;
}

.nav-area1 img{
    height:150px;
    width:150px;
    
}   

.nav-area{
    float: right;
    position: relative;
    list-style: none;
    margin-top: 20px;
    padding-left: 1050px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a{
    color: rgb(122, 93, 93);
    text-decoration:none;
    padding: 5px 20px;
    font-size: 20px;
}

.nav-area li a:hover{
    background:rgb(216, 205, 205);
    color: #fff;
}

.welcome-text{
    position: absolute;
    margin: 12% 25%;
    text-align: center;
}

.welcome-text h1{
    text-align:center;
    color: rgb(243, 231, 231);
    font-size: 65px;
}

.welcome-text p{
    color: rgb(243, 231, 231);
}


.f-action{
    border: 1px;
    padding: 15px;
    text-decoration: none;
    font-size:10px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;

}

#eform{
    outline: none;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 5px;
}
.f-btn{
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.f-btn:hover{
    /* background:#fff; */
    background-color:rgb(80, 196, 65);
    padding: 10px 25px;
}

.welcome-text{
    color: #fff
}

.ft-icons1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}  

.ft-icons1 img{
    height:70px;
    width:70px;
    
}   
